% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Juego{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Música de fondo persistente para el juego -->
    <audio id="bg-music" src="{% static 'sounds/Fondo videojuego.mp3' %}" loop autoplay></audio>

    {% block content %}{% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>